<h1> Elige Fecha <h1>

	<form action="/elegirFecha" method="post">
		<input type="number" min="1" max="38" name="date" placeholder="Date" />
		<input type="submit" name="button" value="Ver partidos" />
	</form>

