<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="./estilos6.css">
  <title>Haz tu prediccion!</title>
  </head>
    <body>
    <audio src="./mp3/Showmatch.mp3" controls>
<p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>
      <section class="form-register">
  <form action="/guardarPrediccion" method="post">
    <h4>Haz tu prediccion!</h4>
  <select class="controls "name="elige partido">
   <% @arreglo && @arreglo.each do |partido| %>
  <option value="<%= partido.id %>"><%= partido.local.name %> vs. <%= partido.visitor.name %></option> 
   <% end %>
  </select>
      <input class="controls" type="number" min="0" max="100" name="gol local" placeholder="gol local" />
      <input class="controls" type="number" min="0" max="100" name="gol visitante" placeholder="gol visitante" />
      <input class="botons" type="submit" name="button" value="Guardar" />
  </form>
      </section>
    </body>
  </html>
