<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="./estilos4.css">
  <title>Elegir Usuario</title>
  </head>
    <body>
      
      <section class="form-register">
      <span> Introduzca su nombre de usuario </span>
      <form action="/ingresarUsuario" method="post">
      <input class="controls" type="text" name="email" placeholder="Correo Electronico" />
<input type="submit" value="Submit">
  </form>
      </section>
    </body>
  </html>
