<link rel="stylesheet" href="estilos.css">

<body>
	<header>
		<a href="#" class="logo">
			<span>PRODE</span>PREMIER LEAGUE</a>
			<nav class="navbar">
				<a href="#inicio">inicio</a>
				<a href="#iniciar seccion">iniciar seccion</a>
				<a href="#registrarme">registrarme</a>
				<a href="#acerca de">acerca de</a>
			</nav>
	</header>
</body>









<!--<header>
	<section class="inicio" id="inicio">
		<div class="content">
			<h3>MONSTERS ABC <span>auriculares</span></h3>
			<p> texto texto texto texto texto texto texto texto texto texto </p>
			<a href="#" class="button">MAS DETALLES</a>
		</div>
		<div class="image">
			<img src="Escritorio/Universidad/premier-league-5.png" alt="">
		</div>
		-->