<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>Prode Premier League</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estilos.css">
</head>


<body>
	<header>
		<a href="#" class="logo">
			<span>PRODE</span> PL</a>
			<audio src="./mp3/Champions.mp3" controls>
<p>If you are reading this, it is because your browser does not support the audio element.</p>
</audio>
			<nav class="navbar">
				<a href="/login">iniciar sesion</a>
				<a href="/signup">registrarme</a>
			</nav>
	</header>
</body>
</html>
