<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>prode</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estilos.css">
</head>


<body>
	<header>
		<a href="#" class="logo">
			<span>PRODE</span>PREMIER LEAGUE</a>
			<nav class="navbar">
				<a href="/">inicio</a>
				<a href="/login">iniciar seccion</a>
				<a href="/signup">registrarme</a>
				<a href="/acerca_de">acerca de</a>
			</nav>
	</header>


	<header>
	<section class="inicio" id="inicio">
		<div class="content">
			<h3>PREMIER LEAGUE <span>PRODE</span></h3>
			<p> Realiza las predicciones de tus equipos favoritos y juga con tus amigos! </p>
			<a href="#" class="button">MAS DETALLES</a>
		</div>
		<div class="image">
			<img src="./img/premier-league-5.png" alt="">
		</div>
	</section>
</header>
</body>
</html>
