<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>Predicciones</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estilos5.css">
</head>
  </head>
    <body>
      <section class="form-register">
  <form action="/misPredicciones" method="post">
    <h4>Elegi la fecha</h4>
      <input class="controls" type="number" min="1" max="38" name="date" placeholder="Date" />
      <input class="botons" type="submit" name="button" value="Ver predicciones" />
  </form>
      </section>
    </body>
  </html>
