<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>Mis predicciones</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estiloPre.css">
</head>

<body>
	<div class="table-title">
		<h3>Mis predicciones</h3>

	</div>

	<table class="table-fill">
		<thead>
			<tr>
				<th class="table-left">fecha</th>
				<th class="table-left">prediccion</th>
				<th class="table-left">resultado</th>
				<th class="table-left">puntaje</th>
			</tr>
		</thead>

		<tbody class="table-hover">
			<tr>
				<td class="text-left">1</td>
				<td class="text-left">2 real VS barsa 3</td>
				<td class="text-left">3-1</td>
				<td class="text-left">1</td>
			</tr>
			<tr>
				<td class="text-left">1</td>
				<td class="text-left">2 real VS barsa 3</td>
				<td class="text-left">3-1</td>
				<td class="text-left">1</td>
			</tr>			
		</tbody>
	</table>
</body>