<!DOCTYPE html>
<html lang="en">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         .header {
            text-align: center;
            height: 300px;
            padding: 12px;
         }
         .body {
            background: url(./img/fondo_pred.jpg);
            background-size: 100%;
         }
         .avatar {
            width: 200px;
            height: 200px;
            border-radius: 50%;
         }
         .user-name {
            font-size: 18px;
            margin-top: 14px;
            color: #FFFFFF;
         }
         .socials {
            list-style: none;
            text-align: center;
            padding: 0;
         }
         .socials li{
            display: inline-block;
            margin: 5px;
         }
         .subtitle {
            text-align: center;
            font-size: 18px;
            color: #FFFFFF;
         }
         a {
            text-decoration : none;
            color: #FFFFFF;
         }
         a:hover{           
            color: #dd1919;
         }
         .icon {
            width: 16px;
            height: 16px;
            display: inline-block;
            background-size: cover;
         }
         .email {
            background-image : url("https://cdn-icons-png.flaticon.com/512/6788/6788206.png");
         }
         .facebook {
            background-image: url("https://cdn-icons-png.flaticon.com/512/733/733547.png");
         }
         .twitter {
         background-image: url("https://cdn-icons-png.flaticon.com/512/733/733579.png");
         }
         .about {
            background-color: #FB5BEE;

            position: relative;
            width: 450px;
            margin: 100px auto 0;
            padding: 10px;
            box-sizing: border-box;
            box-shadow: inset 0 0 15px rgba(0, 0, 0, .2);
            border-radius: 5px;
            overflow: hidden;

            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align:center

         }
         .about h3 {
            color: #545454;
            font-size: 16px;
         }
         .about p {
            color: #545454;
            font-size: 14px;
         }
         .about a {
            list-style: none;
            padding: 0;
            display: inline-block;
            margin: 5px;
         }
      </style>
   </head>
   <%= user = User.find_by(id: session[:user_id]) %>
   <body class="body">
      <Body
      background="/AyDS_Prode/public/img/fondo_perfil.jpg">
      <div class="header">
         <!--
         <div class="container">         
         <link rel="stylesheet" href="./perfil.css">
         -->
         <img 
         class="avatar"
         src="https://www.emmegi.co.uk/wp-content/uploads/2019/01/User-Icon.jpg" />
         <h1 class="user-name">Nombre de usuario: <%= user.name %></h1>
         <h1 class="user-name">Puntuacion total: <%= user.total_score %></h1>
      </div>
      <h1 class="subtitle">Contáctame:</h1>
      <ul class="socials">
         <li>
            <i class ="icon email"></i>
            <input type="text" name="Correo" class="form-control" placeholder="Correo" value="">
         </li>
      </ul>
      <ul class="socials">
         <li>
            <i class ="icon facebook"></i>
            <input type="text" name="Facebook" class="form-control" placeholder="Facebook" value="">
         </l1>
      </ul>
      <ul class="socials">
         <li>
            <i class ="icon twitter"></i>
            <input type="text" name="Twitter" class="form-control" placeholder="Twitter" value="">
         </li>
      </ul>
      <div class="about">
         <h3>Acerca de mi</h3>
         <input type="text" name="Acerca de mi" class="form-control" placeholder="Acerca de mi" value="">
         <h3>Opciones:</h4>
         <a href="/play">Volver a play!</a>
         <a href="/miPerfil">Terminar de modificar</a>
      </div>
   </body>
</html>



