<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-">
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <link rel="stylesheet" href="./estilos7.css">
  <title>optional</title>
  </head>
    <body>
      <section class="form-register">
  <form action="/guardarPrediccion" method="post">
    <h4>Quiero</h4>
      <input class="botons" href="/elegirFecha" value="Predecir otro partido" />
      <input class="botons" href="/play" value="Ir a play" />
  </form>
      </section>
    </body>
  </html>