<div class="container">
   <title>Team Profile</title>
   <link rel="stylesheet" href="./perfil.css">
    <% @arreglo.each do |user| %>
   <h1>Nombre del Equipo</h1>
      <span class="name"><%= user.name%></span>
   <h3>Ciudad del Equipo</h3>
      <span class="city"><%= user.city%></span>
   <h4>Descripcion</h4> 
      <span class="name"><%= user.description%></span>
   <h4>Titulos</h4>
   <div class="listFlex">
      <div>
         <ul>
        <span class="titles"><%= user.trophies%></span>
         </ul>
      </div>
   </div>
   <% end %>
   <h4>Botones para volver</h4>
   Catch me on Twitter - <a href="https://twitter.com/DanEnglishby">@DanEnglishby</a>
</div>
