<div class="container">
   <title>Team Profile</title>
   <link rel="stylesheet" href="./perfil.css">
   <h1>//Nombre del Equipo//</h1>
   <h3>//Ciudad del Equipo//</h3>
   <a href="https://imgbb.com/"><img src="https://i.ibb.co/pdJfzx9/profile-picture.jpg" alt="profile-picture" border="0" /></a>
   <h4>Descripcion</h4>
   <p>//Descripcion del equipo</p>
   <h4>Titulos</h4>
   <div class="listFlex">
      <div>
         <ul>
            <li>Titulo 1</li>
            <li>Titulo 2</li>
            <li>Titulo 3</li>
         </ul>
      </div>
      <div>
         <ul>
            <li>Titulo 4</li>
            <li>Titulo 5</li>
            <li>Titulo 6</li>
         </ul>
      </div>
   </div>
   <h4>//Botones para volver</h4>
   Catch me on Twitter - <a href="https://twitter.com/DanEnglishby">@DanEnglishby</a>
</div>
