<h1> Realiza Prediccion <h1>

	<form action="/play" method="post">
		<input type="text" name="match" placeholder="Match" />
		<input type="text" name="cantidades de goles del local" placeholder="goal_local">
		<input type="text" name="cantidades de goles del visitante" placeholder="goal_visitante">

	</form>

