<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	content="width=device-width,
	inicial-scale=1.0">
	<title>Juega!</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="./estilos2.css">
</head>

<% user = User.find_by(id: session[:user_id]) %>

<body>
	<header>
		<a href="#" class="logo">
			<span>PRODE</span> PL
			<p style="color: black"> Logged In As <%= user.name %> </p></a>
			<nav class="navbar">
				<a href="/elegirFecha2">Cargar Resultados</a>	
				<a href="/elegirFecha">Realizar prediccion</a>
				<a href="/verPartidos">ver Partidos</a>
				<a href="/tablaGeneral">Tabla general</a>
				<a href="/misPredicciones">Mis Predicciones</a>
				<a href="/cierredeSesion">Cerrar sesion</a>
			</nav>
	</header>
</body>
</html>
