 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
    :root{
    	--celeste: #04f5ff;
    	--rojo: #e90052;
    	--blanco: #ffffff;
    	--verde: #00ff85;
    	--violeta: #38003c;
    	--degradado:linear-gradient(90deg, var(--blanco), var(--celeste));
    }

    *{
        font-family: 'Poppins', sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        outline: none;
        border: none;
        text-transform: capitalize;
            }

    *::selection{
        background: var(--verde);
        color: var(--celeste);
    }

    html{
        font-size: 62.4%;
        overflow: hidden;
    }

    body{
        background: url(./img/fondo2.jpg);
        background-size: 100%;
    }

    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: var(--blanco);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        padding: 2rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 0;
    }



   header .logo{
     font-size: 2rem;
     color: var(--degradado);

   }

   header .logo span{
      color: var(--violeta);      
   }

   header .navbar a{
    font-size: 1.8rem;
    margin-left: 2rem;
    color: var(--rojo);

   }

   header .navbar a:hover{
    color: var(--verde);
   }
